body, html {
    font-family: "Lato", sans-serif;
    height: 100%;
    background-color: #f9f9fb!important;
}

.banner-bg{
        background: #212429;
    height: 240px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#openNav{
    cursor:pointer;
    color: white;
    margin-left: 50px
}

.masthead-bg { 
    background-image: url("./images/Placeholder.png");
    height: 400px; 
    margin: 0px 25px;
    overflow: hidden;
}
.masthead-bg-img{
    background-image: url("./images/mastheader1.png");
    height: 473px; 
    background-size: cover;
    background-position: 0px -78px;
      background-repeat: no-repeat;
}
    .form-text-info{
        font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    font-style: underline;
    text-decoration: underline;
    line-height: 20px;
    }
.btn-search{
        height: 38px;
    width: 38px;
}
.search-form .search-box{
    background: #f9f9fb ;
}
.widget {
    margin-bottom: 40px;
    padding: 30px;
    background: white;
    border: 1px solid #eee;
}
.widget .categories .item {
    background: #ffffff;
    padding: 10px;
    color: #777;
    font-weight: 700;
    border-bottom: 1px solid #eee;
}
.widget .latest-posts a {
    display: block;
    color: #555;
    text-decoration: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.form-data-container{
    background: #f5f5f6;
}
.prev-post{
    background: black
}
.next-post{
    background: #3a3c49
}
.widget.latest-posts .views, .widget.latest-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}
.widget.latest-posts .views::after, .widget.latest-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
}
.post-data{
    background: white
}
.post .category a {
    color: #999 !important;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.blog-post {
    padding-left: 0;
    padding-right: 0;
}
.blog-post .icon.next {
    margin-left: 20px;
}
.blog-post .icon.prev {
    margin-right: 20px;
}
.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    line-height: 32px;
    color:white;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.blog-post .posts-nav {
    margin-top: 50px;
    color: white;
    font-size: 0.8em;
        height: 80px;
}
  .blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}   
.posts-nav .btn-prev{
    background: black
}  
.posts-nav .btn-next{
    background: #3a3c49
}  
.error-message{
        background-color: red;
        color: white!important;
}
.hidden{
    display: none
}
.slide{

	z-index: 1;
}
.slide img{
    max-width: 100%;
    height: 160px
}
.grey-bg-arrow{
    background-color: #3a3c49 !important
}
.grey-bg-arrow i{
    color:white
}
@media(max-width:1287px){
    .masthead-bg, .masthead-bg-img .banner-heading {
    height: 258px !important;
}
.masthead-bg-img {
    background-position: 50% -43px;
}
.banner-bg{
    height: 200px;
}
}